{% load static %}
{% load url from future %}

<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'news/style.css' %}" />
<title>Simple news site</title>
{% block head-extra %}
{% endblock %}
</head>

<body>
    <div id="sidebar">
        {% block sidebar %}
        <nav class="shadow">
            <ul class="plain">
                <li><a href="{% url 'news:index' %}">Home</a></li>
            </ul>
        </nav>
        {% endblock %}
    </div>

        <nav class="pager">
            {% block pager-top %}{% endblock %}
        </nav>

    <div id="main">
            {% block main %}{% endblock %}
    </div>

        <nav class="pager">
            {% block pager-bottom %}{% endblock %}
        </nav>
        {% block after-pager %}
        {% comment %}Comments on 'detail' page go here, etc.{% endcomment %}
        {% endblock %}
</body>
</html>
