{% extends "news/base.html" %}
{% load url from future %}
{% load static %}

{% block edit %} | <a href="{{ entry.get_absolute_url }}edit/">Edit entry</a>{% endblock %}

{% block pager-top %}
{% include "news/pager.html" %}
{% endblock %}

{% block main %}
    <article class="shadow content_box">
        <header>
        <h2>{{ entry.title }}</h2>
        <p class="date">{{ entry.created_at.date }}</p>
        </header>
        {{ entry.content|urlize|linebreaks}}
    </article>
{% endblock %}

{% block pager-bottom %}
{% include "news/pager.html" %}
{% endblock %}

{% block after-pager %}
    <div id="comments">
    </div>
{% endblock %}

