{% extends "news/base.html" %}
{% load url from future %}

{% block head-extra %}
<script src="http://code.onion.com/fartscroll.js"></script>

<script>
      fartscroll(900);
      $(document).ready(function() {
        
        if((document.height - 401) < window.innerHeight) {
          // Ensure scrolling
          $('#container').css('height', window.innerHeight + 401);
        }
      });
    </script>
{% endblock %} 

{% block main %}
    {% if entry_list %}
        <ul>
            {% for entry in entry_list %}
                <li>
                    <article class="shadow content_box">
                        <header>
                        <h2>{{ entry.title }}</h2>
                        <p class="date">{{ entry.created_at }}</p>
                        </header>
                        {{ entry.content|truncatechars:350|urlizetrunc:35|linebreaks }}
                        <a class="read_more" href="{{ entry.get_absolute_url }}">Read More</a>
                        {% if entry.content|length > 350 %}{{ entry.content|length }} characters{% endif %}
                    </article>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No news.</p>
    {% endif %}
{% endblock main %}

{% block pager-bottom %}
    {% include "news/pager.html" %}
{% endblock %}
