{% extends "news/base.html" %}
{% load url from future %}
{% block main %}
<h1>Simple news site</h1>
    {% if entry_list %}
        <ul class="plain">
            {% for entry in entry_list %}
                <li>
                    <article class="shadow content-box">
                        <header>
                        <h2>{{ entry.title }}</h2>
                        <p class="date">{{ entry.created_at }}</p>
                        </header>
                        {{ entry.content|truncatechars:350|urlizetrunc:35|linebreaks}}
                        <a href="{{ entry.get_absolute_url }}">Read More</a>
                        {% if entry.content|length > 350 %}{{ entry.content|length }} characters{% endif %}
                        {% if entry.content|length > 350 and entry.comment_set.all.count > 0 %} and {% endif %}
                        {% if entry.comment_set.all.count > 0 %}{{ entry.comment_set.all.count }} comments{% endif %}
                    </article>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No news.</p>
    {% endif %}
{% endblock main %}

{% block pager-bottom %}
    {% include "news/pager.html" %}
{% endblock %}
