{% load url from future %}

{% if entry_list and not the_day %}{% comment %}TODO: Find a more elegant way !@!{% endcomment %}
    <ul>
    {% if prev_page %}
        <li><a href="{% url 'news:index' blog %}?page={{ prev_page }}">Previous page</a></li>
    {% else %}
    <li><span class="invisible inactive_link">Prev page</span></li>
    {% endif %}
    {% if next_page %}
    <li><a href="{% url 'news:index' blog %}?page={{ next_page }}">Next page</a></li>
    {% else %}
    <li><span class="inactive_link">Next page</span></li>
    {% endif %}
    <ul>
{% endif %}

{% if entry %}
    <ul class="pager">
    {% if prev_entry.get_absolute_url %}
        <li><a href="{{ prev_entry.get_absolute_url }}">Prev</a></li>
    {% else %}
        <li>Prev</li>
    {% endif %}
    <li><a href="{% url 'news:day_archive' blog entry.created_at.year entry.created_at|date:'m' entry.created_at|date:'d' %}">Same day</a></li>
    {% if next_entry.get_absolute_url %}
        <li><a href="{{ next_entry.get_absolute_url }}">Next</a></li>
    {% else %}
    <li><span class="inactive_link">Next</span></li>
    {% endif %}
    </ul>

{% elif the_day %}
<ul>
    {% if prev_day %}
    <li><a href="{% url 'news:day_archive' blog prev_day.year prev_day|date:'m' prev_day|date:'d' %}">Previous day</a></li>
        {% else %}
        <li>Previous day</li>
        {% endif %}
        <li><a href="{% url 'news:month_archive' blog the_day.year the_day|date:'m' %}">Same month</a></li>
    {% if next_day %}<li><a href="{% url 'news:day_archive' blog next_day.year next_day|date:'m' next_day|date:'d' %}">Next day</a></li>
    {% else %}
        <li>Next day</li>
</ul>
    {% endif %}

{% elif current_month %}
<ul>
    {% if prev_month %}
    <li><a href="{% url 'news:month_archive' blog prev_month.year prev_month|date:'m' %}">Previous month</a></li>
    {% else %}
        <li>Previous month</li>
    {% endif %}
    <li><a href="{% url 'news:year_archive' blog current_month.year %}">Same year</a></li>
    {% if next_month %}
        <li><a href="{% url 'news:month_archive' blog next_month.year next_month|date:'m' %}">Next month</a></li>
        {% else %}
        <li>Next month</li>
</ul>
    {% endif %}

    {% elif current_year %}
    <ul>
        {% if prev_year %}
            <li><a href="{% url 'news:year_archive' blog prev_year.year %}">Previous year</a></li>
        {% else %}
            <li>Previous year</li>
        {% endif %}

        {% if next_year %}
            <li><a href="{% url 'news:year_archive' blog next_year.year %}">Next year</a></li>
            {% else %}
            <li>Next year</li>
        {% endif %}
    </ul>
{% endif %}


