{% extends "news/base.html" %}
{% load url from future %}

{% block pager-top %}
    {% include "news/pager.html" %}
{% endblock %}

{% block main %}
<h2>Archive for year {{ current_year|date:"Y" }}</h2>
<ul class="plain shadow content-box">
{% for month, num_entries in months %}
    <li><a href="{% url 'news:month_archive' blog current_year.year month|date:'m' %}">{{ month|date:'F' }}</a>
    {% if num_entries %}({{ num_entries }}){% endif %}</li>
{% endfor %}
</ul>
{% endblock main %}

{% block pager-bottom %}
    {% include "news/pager.html" %}
{% endblock %}
