{% if entry %}{% comment %} Article detail page {% endcomment %}
    {% if prev_entry.get_absolute_url %}
        <a href="{{ prev_entry.get_absolute_url }}">Previous entry</a>
    {% endif %}
    <a href="{% url news.views.day_archive entry.created_at.year entry.created_at|date:'m' entry.created_at|date:'d' %}">Same day</a>
    {% if next_entry.get_absolute_url %}
        <a href="{{ next_entry.get_absolute_url }}">Next entry</a>
    {% endif %}
{% elif current_date %}{% comment %} day archive {% endcomment %}
    {% if prev_date %}
        <a href="{% url news.views.day_archive prev_date.year prev_date|date:'m' prev_date|date:'d' %}">Previous day</a>
    {% endif %}
    TODO: Month archive
    {% if next_date %}
    <a href="{% url news.views.day_archive next_date.year next_date|date:'m' next_date|date:'d' %}">Next day</a>
    {% endif %}
{% endif %}


